<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>836619388062-pjvbj5s9cq1pkbc27mebtn9915abpat0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.836619388062-pjvbj5s9cq1pkbc27mebtn9915abpat0</string>
	<key>API_KEY</key>
	<string>AIzaSyAYBYgBmi2fwg_eI9LMGaF6ypjY0u2aa5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>836619388062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nexhomecare.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>nexhomecare</string>
	<key>STORAGE_BUCKET</key>
	<string>nexhomecare.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836619388062:ios:8638433ee10c271485278f</string>
</dict>
</plist>